<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login </title>
  </head>
      <body>
          <main>
            <div>
            <h1>Login</h1>
            <nav> <a href="{% url 'signup' %}">Sign Up </a>
            </nav>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Login</button>
            </form>
        </div>
          </main>
      </body>
      <footer>
      </footer>
 </html>
