<!Doctype html>
<html lang="en">
    <head>
        <title> Account </title>
    </head>
<body>
    <header>

    </header>
    <main>
    <h1> Account </h1>
    <nav>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'category_list' %}">Categories </a></li>
    </nav>
        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Number </th>
                    <th> Number of receipts </th>
                </tr>
            </thead>
            <tbody>
            {% for item in accounts %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.num_receipts }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
        </body>


    </htMl>
