<!Doctype html>
<html lang="en">
    <head>
        <title> Expense Category </title>
    </head>
<body>
    <header>

    </header>
    <main>
    <h1> Expense Category </h1>
    <nav>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url "create_category" %}">Create Category</a></li>
        <li><a href="{% url "account_list" %}">Accounts </a></li>
    </nav>
        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Number of receipts </th>
                </tr>
            </thead>
            <tbody>
            {% for item in categories %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.num_receipts }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
        </body>


    </htMl>
