<!Doctype html>
<html lang="en">
    <head>
        <title> Create Account </title>
    </head>
    <body>
        <main>
            <div>
                 <h1> Create Account </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                 <button>Create</button>
      </form>
        </div>
    </main>
        </body>
        <footer>
        </footer>
   </html>
