<!Doctype html>
<html lang="en">
    <head>
        <title> Receipts </title>
    </head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout </a> </li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up </a></li>
            <li><a href="{% url 'login' %}">Login </a></li>
            </ul>
            {% endif %}

        </nav>
    </header>
    <main>
    <h1> My Receipts </h1>
    <nav>
        <li><a href={% url 'create_receipt' %}>Create a Receipt</a></li>
        <li><a href="{% url 'category_list' %}">Expense Category</a></li>
        <li><a href="{% url 'account_list' %}">Accounts </a></li>
    </nav>
        <table>
            <thead>
                <tr>
                    <th> Vendor</th>
                    <th> Total </th>
                    <th> Tax </th>
                    <th> Date </th>
                    <th> Category </th>
                    <th> Account </th>
                </tr>
            </thead>
            <tbody>
            {% for item in receipts %}
            <tr>
                <td>{{ item.vendor }}</td>
                <td> {{ item.total }} </td>
                <td>{{ item.tax }}</td>
                <td>{{ item.date|date:"m/d/y" }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>
        </body>


    </htMl>
